#bio {
  padding: 15.62vh 0;

  .body {
    padding: 15.62px 13.47vw;
    display: flex;

    > div {
      flex: 1;
      &:first-child {
        margin-right: 170px;
      }

      &:first-of-type {
        p {
          &:first-child {
            color: black;
            text-transform: capitalize;
            margin-bottom: 129px;
            font-size: 68px;
            line-height: 93px;
          }

          &:nth-child(2) {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 28px;
            line-height: 38px;
          }
        }
      }

      p {
        margin-top: 50px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  header {
    display: flex;
    justify-content: center;

    figure {
      margin-bottom: 150px;
    }
  }
}
