@import "./font.scss";

* {
  padding: 0;
  margin: 0;
}

[hidden] {
  visibility: hidden;
}

:root {
  --text-color: #ffffff;
  --text-color-hover: #000000;
  --main-background: #f0efef;
  --main-menu-color: var(--text-color);
  --main-menu-color-hover: var(--text-color-hover);
  --font-title: "manrope", sans-serif;
  --project-title: #000000;
  --project-tags: #fafafa;
}

p {
  font-size: 20px;
  line-height: 30px;

  b,
  strong {
    color: var(--text-color-hover);
  }
}

body,
html {
  height: 100%;
  font-family: var(--font-title);
  color: var(--text-color);
  background: var(--main-background);
}

body {
  &.locked {
    overflow: hidden;
  }
}

a {
  color: var(--text-color);
}

pre {
  background: #000000;
  border-radius: 10px;
  color: #ffffff;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

blockquote {
  border-left: 4px solid white;
  padding: 25px;
  margin: 50px 0px;

  p {
    margin-top: 15px;
    font-weight: normal;

    &:first-child {
      margin-top: 0;
    }
  }
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #d77e92, #907ed7, #7eccd7);
  background-size: 400% 400%;
  animation: bgAnimation 45s ease infinite;

  @-webkit-keyframes bgAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes bgAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes bgAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  &:before {
    opacity: 0;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
  }
}

a {
  font-weight: bold;
  color: var(--text-color);

  &:hover {
    color: var(--text-color-hover);
  }
}

#virtues {
  position: fixed;
  left: 40px;
  top: 40px;
  right: 40px;
  bottom: 40px;
}

ul.virtues-items {
  display: block;
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media (min-width: 768px) {
    padding-left: 13.47vw;
    padding-right: 9.05vw;
    padding-top: 7.81vh;
    height: calc(100vh - 27.08vh);
  }

  li {
    flex: 1;
    display: flex;
    overflow: hidden;
    align-items: center;
  }

  span {
    display: block;
    transform: translateY(100%);
    font-size: 13vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    font-weight: bold;
  }

  &.start li {
    &:nth-child(1) span {
      transition-delay: 220ms;
    }
    &:nth-child(2) span {
      transition-delay: 320ms;
    }
    &:nth-child(3) span {
      transition-delay: 420ms;
    }
    &:nth-child(4) span {
      transition-delay: 520ms;
    }
    &:nth-child(5) span {
      transition-delay: 620ms;
    }

    span {
      transform: translateY(0);
      transition: transform 250ms ease-in-out;
    }
  }

  &.leave li {
    &:nth-child(1) span {
      transition-delay: 220ms;
    }
    &:nth-child(2) span {
      transition-delay: 320ms;
    }
    &:nth-child(3) span {
      transition-delay: 420ms;
    }
    &:nth-child(4) span {
      transition-delay: 520ms;
    }
    &:nth-child(5) span {
      transition-delay: 620ms;
    }

    span {
      transform: translateY(-100%);
      transition: transform 250ms ease-in-out;
    }
  }
}

.floaty {
  z-index: 1;
  position: absolute;
  cursor: pointer;
  a {
    transition: color 300ms ease-in-out;
    color: var(--main-menu-color);
    text-decoration: none;

    &:hover {
      color: var(--main-menu-color-hover);
    }
  }

  @media (min-width: 768px) {
    position: fixed;

    a {
      font-size: 14px;
    }
  }
}

#msg-shy {
  right: 20px;
  top: 25px;
  width: 30vw;
  text-align: right;
  @media (min-width: 768px) {
    width: auto;
    transform: rotate(-90deg);
    transform-origin: bottom right;
    right: 80px;
    top: 80px;
    text-align: left;
  }
}

#menu {
  left: 20px;
  top: 30px;
  @media (min-width: 768px) {
    transform: rotate(90deg);
    transform-origin: top left;
    left: 80px;
    top: 80px;
  }

  ul {
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;

    li {
      list-style: none;
      margin: 0px 5px;

      a {
        font-size: 18px;
        font-weight: 400;
        color: var(--main-menu-color);
        border-bottom: 2px solid transparent;
        padding-bottom: 5px;
        font-weight: bold;

        &.selected,
        &:hover {
          text-decoration: underline;
          color: var(--main-menu-color-hover);
        }
      }
    }
  }

  &:hover {
    color: var(--main-menu-color-hover);
  }
}

#scroll {
  cursor: pointer;
  color: var(--main-menu-color);
  right: 20px;
  bottom: 30px;
  position: absolute;

  &:hover {
    color: var(--main-menu-color-hover);
  }
  @media (min-width: 768px) {
    transform: rotate(-90deg);
    right: 80px;
    bottom: 80px;
    position: fixed;
  }
}

figure {
  position: relative;
  display: inline-flex;

  figcaption {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  span {
    color: white;
    font-weight: bold;
    font-size: 60px;

    @media (min-width: 768px) {
      font-size: 120px;
    }
  }
}
.panel {
  width: 100%;
  opacity: 0;
  display: none;

  &.active {
    animation: show 500ms ease normal;
    animation-fill-mode: forwards;
  }

  &.old {
    animation: hide 500ms ease normal;
    animation-fill-mode: forwards;
  }

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      height: 0;
    }
  }
}

#home {
  color: black;
}

@import "./bio.scss";
@import "./projects.scss";
@import "./gallery.scss";
